.uct-list-filter{max-width: initial;min-width:auto;border: none;border-radius: 5px;margin:0 22px;overflow: hidden;}
.main-right{background:none;border: none;}
.main-right .supply-list{margin:0;}
.supply-list li{padding:0 22px;}
.expert-list-link,.supply-list-link{border: 4px solid #fff;border-radius: 5px;box-shadow: 0 0 5px #aeaeae;}
.expert-list-link:hover{border-color: #00a7ed;box-shadow: 0 0 5px #aeaeae;}
.exp-list-icon{right: 28px;}
.uct-search-result{background:#fff;}
.uct-list-filter{background:none;}
.uct-search{background:#184161;margin-top: 24px;border-radius:5px 5px 0 0;}
.my-trace a{float: left;margin-right: 20px;color: #333;}
.myask-tabar{padding-left: 24px;}
.supp-list-img{border-radius: 3px;}
.v-myneed-top{position: relative;padding-top: 24px;}
.v-release-btn{display: block;position: absolute;left:22px;top: 24px;width: 102px;text-align: center;height:28px;line-height: 28px;background:#00a7ed;color:#fff;border-radius: 4px;}
.v-condition{margin-left: 150px;height: 28px;overflow: hidden;}
.v-condition-link{padding-left: 25px;background:url(../img/vicon_state.png) no-repeat 0 1px;display: block;float: left;color:#333;font-size: 12px;margin-top: 4px;margin-right: 25px;}
.v-condition-link:hover,.v-condition .active{color:#fff;}
.v-c-link1{background-position: 0 -22px;}
.v-c-link2{background-position: 0 -47px;}
.v-count{display: inline-block;height: 20px;background:#7f6f67;background:rgba(0,0,0,0.3);padding:0 3px;line-height: 20px;vertical-align: 0;color:#fff;margin-left: 10px;}
