body{
    background: #eeeeee;
}
.junior-banner {
    width: 100%;
    height: 430px;
    background: url("../img/swpro.jpg") no-repeat center top;
    border-bottom: 0.08rem solid #e25633;
}

.jun-banner-cap {
    padding: 1.6rem 0 0 0.6rem;
    color: #fff;
    font-size: 0.4rem;
}

.jun-banner-btn {
    display: block;
    line-height: 0.4rem;
    width: 1.6rem;
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #867a6e;
    border-radius: 5px;
}

.jun-banner-intro {
    font-size: 0.3rem;
}



.sw-fillin{
    padding:0.55rem 0;
    width: 70%;
    margin:0 auto;
}
.sw-fill-row{
    padding-bottom: 14px;
    font-size: 0;
}
.sw-fill-left{
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    font-size: 14px;
    color: #000;
    width: 20%;
    font-weight: 600;
}
.sw-fill-inp{
    display: inline-block;
    vertical-align: top;
    padding:0 8px;
    line-height: 40px;
    height: 40px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    width: 80%;
    border-radius: 5px;
    font-size: 14px;
}
.sw-fill-select{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80%;
}
.sw-fill-opt{
    position: relative;
    display: block;
    padding:0 8px;
    line-height: 40px;
    height: 40px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    color: #696f77;
    overflow: hidden;
}
.sw-fill-opt:before{
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 40px;
    font-family:"iconfont";
    content: "\e60c";
    background: #dfdfdf;
    color: #868686;
    text-align: center;
    font-size: 36px;
}
.sw-fill-list{
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 14px;
    background: #ffffff;
    box-shadow: 0 0 3px #ddd;
    border-radius: 4px;
    width: 100%;
    display: none;
    z-index: 2;
}
.sw-fill-list li{
    line-height: 26px;
    padding:0 10px;
    border-bottom: 1px dotted #eee;
    color: #6a6a6a;
    cursor: pointer;
}
.sw-fill-list li:hover{
    background: #eeeeee;
}
.sw-btn-wrapper{
    padding: 0.35rem 0;
    margin-top: 0.15rem;
    text-align: center;
}
.sw-btn-submit {
    display: inline-block;
    line-height: 0.38rem;
    background: #e25633;
    color: #fff;
    width: 1.42rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 767px){
    html{
        font-size: 70px;
    }
    .sw-fillin{
        width: 90%;
    }
    /*.jun-banner-cap {
        padding: 1.12rem 0 0 0.42rem;
        font-size: 0.28rem;
    }

    .jun-banner-btn {
        line-height: 0.28rem;
        width: 1.12rem;
    }

    .jun-banner-intro {
        font-size: 0.21rem;
    }*/
}
@media (max-width: 500px) {
    .sw-fill-select,.sw-fill-inp{
        display: block;
        width: 100%;
    }
    .sw-fill-left{
        display: block;
        width: 100%;
    }
}