body{
    background: #f8f8f8;
}
.ui-accordion-header{
    position: relative;
}
.sp-icon{
    font-style: normal;
    position: absolute;
    top:14px;
    right:20px;
    line-height:16px;
    font-size:30px;
}
.help-page {
    width: 738px;
    margin: 0 auto;
    padding: 22px 0
}

.help-page .head-level {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: #888;
    border-bottom: 1px solid #dfdfdf
}

.help-page .head-level .item-link {
    text-decoration: none;
    padding: 20px 0
}

.help-page .head-level .item-link.active, .help-page .head-level .item-link:hover {
    padding-bottom: 17px;
    color: #2594e9;
    border-bottom: 3px solid #2594e9
}

.help-page .menu-list-level {
    display: inline-block
}

.help-page .menu-list-level:after, .help-page .menu-list-level:before {
    content: " ";
    display: table
}

.help-page .menu-list-level:after {
    clear: both
}

.help-page .menu-item-level {
    display: inline-block;
    float: left !important
}

.help-page .menu-item-level + .menu-item-level {
    margin-left: 38px
}

.help-page .ui-accordion {
    padding-left: 0;
    font-size: 16px
}

.help-page .ui-accordion .ui-accordion-header {
    font-weight: 400;
    padding: 18px 20px;
    background-color: #fff;
    margin: 20px 0 !important;
    font-size: 16px;
    color: #333
}

.help-page .ui-accordion .ui-accordion-header .icon-add {
    margin-top: 4px;
    display: block
}

.help-page .ui-accordion .ui-accordion-header .icon-minus {
    margin-top: 4px;
    display: none
}

.help-page .ui-accordion .ui-accordion-header.ui-state-active {
    color: #333
}

.help-page .ui-accordion .ui-accordion-header.ui-state-active .icon-add {
    display: none
}

.help-page .ui-accordion .ui-accordion-content ul span, .help-page .ui-accordion .ui-accordion-header.ui-state-active .icon-minus {
    display: block
}

.help-page .ui-accordion .ui-accordion-header:focus {
    outline: 0
}

.help-page .ui-accordion .ui-accordion-content {
    position: relative;
    background-color: #fff;
    margin-top: -20px;
    padding: 0 20px 24px 26px;
    border: none;
    border-radius: 0;
    font-size: 14px;
    line-height: 26px;
    color: #333
}

.help-page .ui-accordion .ui-accordion-content .line {
    padding-top: 14px;
    margin: 0 -6px 0 0;
    border-top: 1px solid #dfdfdf
}

.help-page .ui-accordion .ui-accordion-content ul {
    margin-left: 20px
}

.help-page .ui-accordion .ui-accordion-content ul li {
    list-style: disc
}