/***********banner/start***********/
.banner{position: relative;margin:60px auto 0;width:100%;}
.banner ul{position: relative;height: 350px;}
.banner ul li{position: absolute;top: 0;left: 0;display: none;height: 350px;width: 100%;}
.img01{background: url(../img/banner1.jpg) no-repeat center top;}
.img02{background: url(../img/banner2.jpg) no-repeat center top;}
.img03{background: url(../img/banner3.jpg) no-repeat center top;}
.img04{background: url(../img/banner1.jpg) no-repeat center top;}
.banner ol{position: absolute;bottom: 20px;left: 50%;margin-left: -52px;z-index: 5;}
.banner ol li{width: 10px;height: 10px;border-radius: 20px;background:#f7f7f7;float: left;margin:0 8px;cursor: pointer;}
.banner ol .cur{background:#333;}
.banner i{font-size: 50px;}
.btn{position: absolute;top: 50%;margin-top: -25px;color:#fff;opacity: 0.7;filter: alpha(opacity=70);display: none;}
.btn:hover{opacity:1;filter: alpha(opacity=100);}
.leftBtn{left: 28px;}
.rightBtn{right: 28px;}
.img01 .container{position: relative;height:350px;}
.anim{position: absolute;width: 24px;height: 24px;-webkit-animation:anim 1.5s;-moz-animation:anim 1.5s;-ms-animation:anim 1.5s;animation:anim 1.5s;}
.anim-left{border-top: 1px solid #fff;border-left: 1px solid #fff;top: 40px;left:70px;}
.anim-right{border-bottom: 1px solid #fff;border-right: 1px solid #fff;bottom:40px;right:70px;}
@-ms-keyframes anim
{
    0%   {width:0;height:0;}
    50%  {width: 48px;height: 48px;}
    100% {width: 24px;height: 24px;}
}
@-moz-keyframes anim
{
    0%   {width:0;height:0;}
    50%  {width: 48px;height: 48px;}
    100% {width: 24px;height: 24px;}
}
@-webkit-keyframes anim
{
    0%   {width:0;height:0;}
    50%  {width: 48px;height: 48px;}
    100% {width: 24px;height: 24px;}
}
@keyframes anim
{
    0%   {width:0;height:0;}
    50%  {width: 48px;height: 48px;}
    100% {width: 24px;height: 24px;}
}
/***********banner/end***********/
/***********section1/start***********/
.section{padding: 30px 0;}
.supply-service-tit{font-size: 28px;color:#0470c3;text-align: center;position: relative;}
.supply-service-entit{text-align: center;color:#333;margin-bottom: 20px;}
.long-line{position: absolute;height:1px;background:#0470c3;width: 9em;bottom:0;left:50%;margin-left: -4.5em;-webkit-animation:line 1s;-moz-animation:line 1s;-ms-animation:line 1s;animation:line 1s;}
@-ms-keyframes line
{
    0%   {width:0;margin-left:0;}
    100% {width: 9em;margin-left: -4.5em;}
}
@-moz-keyframes line
{
    0%   {width:0;margin-left:0;}
    100% {width: 9em;margin-left: -4.5em;}
}
@-webkit-keyframes line
{
    0%   {width:0;margin-left:0;}
    100% {width: 9em;margin-left: -4.5em;}
}
@keyframes line
{
    0%   {width:0;margin-left:0;}
    100% {width: 9em;margin-left: -4.5em;}
}
.item{padding:0 10px;margin-top: 10px;}
.item a{display: block;background:#f8f8f8;padding-top: 45px;position: relative;overflow: hidden;}
.item i{font-size: 44px;}
.item-con{text-align: center;padding-bottom: 40px;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;transition:all .5s;}
.hexagon{display: block;width: 116px;height: 134px;margin:0 auto;line-height: 134px;}
.dif-hexagon1 i{font-size: 52px;}
.dif-hexagon1 .hexagon{background:url(../img/hexag1.png) no-repeat;}
.dif-hexagon2 .hexagon{background:url(../img/hexag2.png) no-repeat;}
.dif-hexagon3 .hexagon{background:url(../img/hexag3.png) no-repeat;}
.dif-hexagon4 .hexagon{background:url(../img/hexag4.png) no-repeat;}
.dif-hexagon1{color:#3c99e1;}
.dif-hexagon2{color:#f1a622;}
.dif-hexagon3{color:#3fc1ef;}
.dif-hexagon4{color:#fa4f4f;}
.number{font-size: 26px;font-family: system;margin-top: 40px;}
.item-tit{font-size: 20px;color:#333;display: block;}
.item-desc{color:#333;}
.item-con-hover{position: absolute;top: -100%;left:0;background:#2d85c9;background:rgba(4,110,192,0.85);padding: 45px 20px;height:100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;transition:all .5s;width:100%;box-sizing: border-box;text-align:center}
.item-con-hover p{overflow: hidden;text-overflow: ellipsis;width:100%;height:100%;color:#f8f8f8;text-indent: 2em;line-height: 1.7;position: relative;top: -150%;-webkit-transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;transition:all 1s;}
.item a:hover .item-con-hover{filter:alpha(opacity=85);}
.item a:hover .item-con-hover,.item a:hover .item-con-hover p{top: 0;;}
.item a:hover .item-con{-webkit-transform: scale(0.8);-moz-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);}
.listbottom-link{text-align: center;margin-top: 25px;}
.homepage-link{display: inline-block;font-size: 24px;color:#fff;background:#00a7ed;letter-spacing: 0.3em;padding:8px 1em 8px 1.3em;border-radius: 5px;}
.homepage-link:hover{box-shadow: 0 2px 2px #ccc;background:#2d85c9;}
/***********section1/end***********/
/***********section2/start***********/
.fix-bg{width: 100%;/*height:1058px;*/background: url(../img/fixbg.jpg) no-repeat center top;background-attachment:fixed;box-shadow: 0 5px 25px #ddd inset;box-sizing: border-box;position: relative;}
.tab-resources{margin-left: -18px;margin-right: -18px;}
.tabar{background:#fff;border-top: 1px solid #00a7ed;border: 1px solid #00a7ed;margin:0 30px;}
.tabar a{color:#0470c3;font-size: 16px;text-align: center;height: 46px;line-height: 46px;letter-spacing: 3px;font-weight: bold;float: left;width:33.333333%;box-sizing: border-box;position: relative;}
.tabar a:nth-child(2){border-left: 1px solid #00a7ed;border-right: 1px solid #00a7ed;}
.tabar a:hover{text-decoration: underline;}
.tabar a.current{background:#00a7ed;color:#fff;}
.tab-con{width:100%;overflow: hidden;padding-bottom: 30px;}
.tab-list{width:300%;padding-top: 50px;position: relative;}
.tab-list li{position: relative;width:8.33333333%;float: left;padding:0 30px;box-sizing: border-box;}
.tab-list-link{display: block;}
.ex-res-img{display: block;margin:0 auto;border-radius: 50%;border: 1px solid #535661;width: 218px;height: 218px;}
.tab-list-link:hover .ex-res-img{border-color:#00a7ed;-webkit-animation:circle .7s;-moz-animation:circle .7s;-ms-animation:circle .7s;animation:circle .7s;}
.ex-res-img img{border-radius: 50%;width: 204px;height: 204px;margin:7px auto;}
.ex-res-con{background:#fff;margin-top: 22px;position: relative;box-shadow: 0 0 20px #999;}
.ex-res-con-tit{background:#8d8e8e;height:65px;color:#fff;text-align: center;padding-top: 10px;}
.tab-list-link:hover .ex-res-con-tit{background:#00a7ed;}
.expert-name{font-size: 20px;font-weight: bold;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.expert-consult{font-size: 16px;display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.ex-res-con-desc{padding:15px 15px 45px;}
.expert-field{font-size: 16px;color:#333;display: block;line-height: 24px;height:48px;overflow: hidden;text-align: justify;}
.expert-field-desc{text-align: justify;font-size: 12px;padding:20px 0;color:#333;line-height: 20px;height: 120px;overflow: hidden;}
.ex-res-icon{position: absolute;right: 15px;bottom:10px;padding:0 15px;}
.ex-res-icon a{margin-right: 15px;color:#c4c4c4;}
.ex-res-icon .red{color:#e00909;}
.collect i{font-size: 19px;}
.tab-list-link:hover .triangle-bottom{border-bottom-color: #00a7ed;}
.tab-leftbtn,.tab-rightbtn{position: absolute;top: 50%;color:#333;margin-top: -24px;display: none;}
.tab-leftbtn i,.tab-rightbtn i{font-size: 48px;}
.tab-leftbtn{left:30px;}
.tab-rightbtn{right:30px;}
.triangle-bottom{position: absolute; top: -14px; left:50%; margin-left: -7px; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 16px solid #8d8e8e;}
.triangle-top{position: absolute; bottom: -14px; left:50%; margin-left: -16px; width: 0; height: 0; border-left: 16px solid transparent; border-right: 16px solid transparent; border-top: 16px solid #00a7ed;display:none;}
.tabar .current .triangle-top{display: block;}
.nomargin{margin:0;}
.middle-line,.short-line{position: absolute;height:1px;background:#0470c3;width: 3em;bottom:0;left:50%;margin-left: -1.5em;-webkit-animation:middleline 1s;-moz-animation:middleline 1s;-ms-animation:middleline 1s;animation:middleline 1s;}
.more-box{overflow: hidden;padding-right: 60px;margin-bottom: 20px;margin-top:-20px;}
@-ms-keyframes circle
{
    0%   {width:0;height:218px;border-color:#8d8e8e;}
    100% {width: 218px;height:218px;border-color:#00a7ed;}
}
@-moz-keyframes circle
{
    0%   {width:0;height:218px;border-color:#8d8e8e;}
    100% {width: 218px;height:218px;border-color:#00a7ed;}
}
@-webkit-keyframes circle
{
    0%   {width:0;height:218px;border-color:#8d8e8e;}
    100% {width: 218px;height:218px;border-color:#00a7ed;}
}
@keyframes circle
{
    0%   {width:0;height:218px;border-color:#8d8e8e;}
    100% {width: 218px;height:218px;border-color:#00a7ed;}
}
@-ms-keyframes middleline
{
    0%   {width:0;margin-left:0;}
    100% {width: 3em;margin-left: -1.5em;}
}
@-moz-keyframes middleline
{
    0%   {width:0;margin-left:0;}
    100% {width: 3em;margin-left: -1.5em;}
}
@-webkit-keyframes middleline
{
    0%   {width:0;margin-left:0;}
    100% {width: 3em;margin-left: -1.5em;}
}
@keyframes middleline
{
    0%   {width:0;margin-left:0;}
    100% {width: 3em;margin-left: -1.5em;}
}
@media (max-width: 1199px){
    .ex-res-img{width: 118px;height: 118px;}
    .ex-res-img img{width: 104px;height: 104px;}
    @-ms-keyframes circle
    {
        0%   {width:0;height:118px;border-color:#8d8e8e;}
        100% {width: 118px;height:118px;border-color:#00a7ed;}
    }
    @-moz-keyframes circle
    {
        0%   {width:0;height:118px;border-color:#8d8e8e;}
        100% {width: 118px;height:118px;border-color:#00a7ed;}
    }
    @-webkit-keyframes circle
    {
        0%   {width:0;height:118px;border-color:#8d8e8e;}
        100% {width: 118px;height:118px;border-color:#00a7ed;}
    }
    @keyframes circle
    {
        0%   {width:0;height:118px;border-color:#8d8e8e;}
        100% {width: 118px;height:118px;border-color:#00a7ed;}
    }
}
/***********section2/start***********/
/***********section3/start***********/
.supply-demand{color:#00a7ed;}
.supply-categary{margin-top: -30px;}
.category{font-size: 20px;color:#333;line-height: 24px;}
.more{color:#333;font-size: 14px;font-weight: normal;float: right;}
.more:hover{color:#00a7ed;text-decoration: underline;}
.more i{font-size: 14px;padding-left: 8px;}
.demands{background:#f8f8f8;border: 1px solid #d9d9d9;margin:0 10px;padding:25px;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;transition:all .5s;margin-top: 40px;}
.demands:hover{background:#fff;box-shadow: 0 0 25px #ccc;border-color: #fff;border-color: #d9d9d9\0;}
.demands-list{padding-top: 5px;}
.demands-list li{border-bottom: 1px dashed #cecece;padding:15px 0 14px;overflow: hidden;}
.dem-li-tit{color:#333;float: left;width:67%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.dem-li-time{color:#999;font-size: 12px;float: right;}
.dem-li-time i{font-size: 14px;margin-right: 3px;}
.demands-list li:last-child{border-bottom: none;}
.demands-list a:hover .dem-li-tit{color:#00a7ed;text-decoration: underline;}
.demands-list .icon-jiantou{font-size: 14px;color:#00a7ed;margin-right: 12px;float: left;}
/*.short-line{height:3px;}*/
/***********section3/end***********/