
.uct-list-search{width: 90%;}
.uct-list-search-inp{width: 100%;}
.location-province{position: relative;left: 0;}

.uct-search{margin-top: 0;}
.ucenter-con{padding-top: 20px;}
@media screen and (max-width: 750px){
	.uct-list-search-inp{font-size: 10px;}
	.left-cap{margin-right: 0;}

}