body{background:#fff;}
.serve-banner{width: 100%;height: 420px;background: url(../img/service.png) no-repeat center top;margin-top: 60px;}
.serve-stage{border-top: 5px solid #00a7ed;margin-top: -90px;padding: 40px 0 70px;background:#fff;}
.serve-tit{font-size: 28px;color: #2d85c9;text-align: center;position: relative;font-weight: normal;}
.serve-line{position: absolute;height:1px;background:#97c1e2;bottom:-3px;left:50%;}
.line1{width: 6em;margin-left: -3em;}
.line2{width: 7em;margin-left: -3.5em;}
.serve-tit-eng{text-align: center;color:#333;padding-bottom: 20px;padding-top: 10px;}
.serve-stage-con{font-size: 16px;line-height: 32px;color:#333;text-indent: 2em;text-align: justify;}
.serve-stage-con p{padding-top: 30px;}
.white-bg{background:#fff;}
.serve-supply-top{text-align: center;position: relative;padding:30px 0 10px;}
.serve-supply-tit{display: inline-block;padding:0 30px;background:#fff;position: relative;z-index: 2;}
.bg-line{width:100%;height: 2px;background:#dcdcdc;position: absolute;top: 45%;left: 0;}
.serve-row{position: relative;padding:0 0 40px;min-height: 378px;}
.serve-row-box{border: 4px solid #dcdcdc;padding:52px 0;width: 217px;position: absolute;top: 0;min-height: 264px;left: 115px;}
.serve-row-img{margin-left: -134px;width: 307px;height:262px;overflow: hidden;}
.serve-row-img{width: 307px;}
.serve-row-rt{background:#fff;position: relative;z-index: 2;top: 22px;padding:30px 0 30px 5px;margin-left: 330px;}
.serve-row-rtit{font-size: 20px;font-weight: normal;color:#674c72;padding:20px 0 25px;}
.serve-row-con{font-size: 16px;color:#333;line-height: 32px;text-align: justify;margin-bottom: 10px;}
.serve-row2 .serve-row-box{right: 150px;left: initial;}
.serve-row2 .serve-row-rt{left: -15px;margin-left: 0;margin-right: 355px;}
.serve-row2 .serve-row-img{margin-left: 63px;}
.serve-row2 .serve-row-box{border-color: #486a96;}
.s-i-t-title{padding-left: 50px;background:url(../img/iconserv.png) no-repeat left center;font-size: 20px;line-height: 34px;font-weight: normal;color:#004981;margin-bottom: 14px;}
.s-i-t-desc{color:#333;font-size: 16px;}
.s-i-t-question{color:#2d85c9;font-size: 16px;margin-top: 14px;overflow: hidden;}
.s-i-t-question span{margin-right: 70px;display: block;float: left;}
.s-i-t-question span:last-child{margin-right: 0;}
.serve-row-cap{display: block;height: 50px;line-height: 50px;background:#dcdcdc;font-size: 20px;padding-left: 7px;width: 300px;}
.serve-supply{padding-right: 0;}
.paragragh{color:#666;font-size: 16px;line-height: 30px;text-align: justify;padding-left: 26px;background:url(../img/circledot.png) no-repeat left 13px;padding-top: 5px;}
.serve-row2 .serve-row-cap{color:#154079;}
.serve-row3,.serve-row4{min-height: 325px;}
.serve-row3 .serve-row-box{min-height: 212px;border-color: #98869f;}
.serve-row3 .serve-row-img{height: 212px;}
/*.serve-row3 .serve-row-con{font-size: 22px;}*/
.serve-row3 .serve-row-con p{padding-top: 10px;}
.serve-row3 .serve-row-con .blank1{min-height: 64px;}
.serve-row4 .serve-row-box{border-color: #a6a5a5;min-height: 212px;}
.serve-row4 .serve-row-img{height:212px;}
.serve-row4 .serve-row-rtit{color:#3e3a3a;}
.blank2{padding-top: 22px;}
.serve-row5 .serve-row-box{border-color: #94a4bc;}
.serve-row5 .serve-row-rtit{color:#46638b;padding-top: 28px;}
.blank3{min-height: 96px;}
.serve-row5{padding-bottom: 145px;}
/*****************
    service introduce v2
********************/
/*.serve2-banner{height:350px;background:url(../img/banner_ser.jpg) no-repeat center top;}*/
.serve2-stage{margin-top: 0;border-top: none;padding: 30px 0 45px;}
.serve2-desc{text-align: center;display:block;}
.serve2-intro{overflow: hidden;padding-top: 60px;}
.serve2-li{width:25%;float: left;text-align: center;;}
.serve2-img{margin:0 auto;}
.serve2-cap{font-size: 16px;color:#00a7ed;display: block;margin-top:40px;font-weight: bold;}
.serve2-main{text-align: center;color:#333;padding:0 20px;}
.serve2-tit{background:url(../img/bmline.png) no-repeat bottom center;font-size: 20px;letter-spacing: 1px;margin:45px 0;padding-bottom: 5px;}
.serve2-bold{font-size: 18px;padding:0 70px 45px;}
.serve2-bg{font-size: 16px;width: 815px;margin:0 auto;padding:30px 0;}
/*.serve2-bgtwo span{padding-right: 2px;display: inline-block;background:url(../img/squre.jpg) no-repeat left 10px;}*/
.serve2-line{padding-left: 45px;background:url(../img/squre.jpg) no-repeat left center;}
.serve2-bgthree{text-align: left;}
.serve2-banner{background:none;}
.serve2-banner img{width:100%;max-width: 100%;}
@media (max-width:970px){
    .serve2-bg{width:auto;}
    .serve2-bold{padding:0 0 20px;}
}
@media (max-width:750px){
    .serve2-li{width:50%;}
    .serve2-stage{padding:0 0 25px;}
}