/**********基本资料 start***********/
.main-right{background:#fff;border: 1px solid #ccc;border-radius: 6px;}
.basic-source{width: 255px;margin:0 auto;}
.basic-tel{padding-top: 35px;}
.basic-row{margin-bottom: 16px;}
.basic-row em{display: inline-block;width: 1em;}
.basic-row span{float: left;line-height: 28px;color:#333;}
.basic-row label{display: block;float: left;color:#333;font-weight: bold;text-align: right;line-height: 28px;}
.change-btn{float: right;width: 60px;height: 28px;text-align: center;line-height: 28px;color:#fff;background:#00a7ed;border-radius: 3px;}
.basic-nickname{width:194px;border: 1px solid #ccc;border-radius: 3px;height:26px;line-height: 26px;padding-left: 3px;font-size: 12px;}
.basic-pet{margin-bottom: 25px;}

.basic-rect{float: left;width: 105px;height: 105px;background: #d9d9d9;border: 1px solid #ccc;overflow: hidden;}
.basic-rect img{width:100%;}
.basic-upload{float: left;padding-top: 77px;padding-left: 45px;}
.basic-span{display: block;position: relative;overflow: hidden;}
.basic-span span{color:#fff;display: block;text-align: center;width: 60px;}
.fileinput-button input{position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px !important;direction: ltr;cursor: pointer;width: auto;height: auto;}
.basic-btn{width:100%;height: 40px;line-height: 40px;display: block;background:#00a7ed;color:#fff;text-align: center;font-size: 16px;border: none;border-radius: 6px;margin:28px 0 34px;}
/***********基本资料 end***********/
/***********更换手机号 start***********/
.basic-source-changetel{width: 300px;margin:0 auto;color:#333;}
.change-tel-tit{display: block;color:#333;font-size: 16px;display: block;padding-top: 35px;padding-bottom: 20px;}
.change-tel-pwd,.change-tel-tel{position: relative;width: 100%;border: 1px solid #ccc;border-radius: 3px;background: #fff;height: 34px;line-height: 34px;margin-bottom: 12px;}
.change-tel-pwd label,.change-tel-test label,.change-tel-tel label{position: absolute;left: 0;top: 6px;padding: 0 10px;border-right: 1px solid #afafaf;height: 24px;line-height: 24px;}
.change-tel-pwd i,.change-tel-test i,.change-tel-tel i{font-size: 20px;color: #afafaf;}
.change-tel-pwd input,.change-tel-enter input,.change-tel-tel input{padding-left: 60px;color: #757575;}
.change-tel-enter input{width: 134px;}
.change-tel-test{position: relative;margin-bottom: 12px;}
.change-tel-enter{border: 1px solid #ccc;border-radius: 3px;background: #fff;height: 34px;line-height: 34px;float: left;}
.change-tel-get{float: right;height: 36px;line-height: 36px;width: 96px;text-align: center;background: #00a7ed;color: #fff;border-radius: 3px;}
/***********更换手机号 end***********/
/***********绑定银行卡 start***********/
.card-step,.myneed-com-name{border-bottom: 2px solid #dcdcdc;font-size: 16px;color:#333;text-align: center;padding: 14px 0;margin:0 20px;line-height: 28px;}
.green-circle,.gray-circle{font-weight: bold;color:#fff;width: 28px;height: 28px;display: inline-block;background:#2fd887;border-radius: 20px;text-align: center;line-height: 28px;margin-right: 14px;}
.gray-circle{background: #d4d4d4;}
.card-step-cap{margin:0 30px;}
.card-enter{text-align: center;}
.card-must{color:#666;padding:115px 0;}
.card-sum,.card-bank-open{width: 300px;}
.card-sum,.card-bank-open,.cash-num{height: 30px;line-height: 30px;background:#eaeaea;margin:0 10px;padding-left: 10px;}
.must{color:#ff1919;font-size: 20px;display: inline-block;vertical-align: middle;}
.test-btn,.cash-btn{display: inline-block;width: 250px;height: 40px;text-align: center;line-height: 40px;background:#00a7ed;border: none;border-radius: 4px;color:#fff;font-size: 16px;margin-bottom: 50px;}
.card-number{padding-top: 50px;padding-bottom: 34px;}
.card-name,.card-bank{padding-bottom: 34px;}
.card-number label,.card-name label,.card-bank label{display:inline-block;width:3em;text-align:right;}
.card-submit{margin-bottom: 10px;margin-top: 65px;}
.card-tip{color: #999;display: block;padding-bottom: 20px;}
.card-bank-sel{display: inline-block;position: relative;width: 330px;}
.card-bank-open{display: block;color: #ABABAB;text-align: left;position: relative;}
.card-bank-open:before{font-family: "iconfont";content: "\e618";background: #00a7ed;position: absolute;color: #fff;width: 30px;text-align: center;top: 0;right: 0;}
.card-bank-list{position: absolute;top: 30px;left: 10px;text-align: left;background: #fff;width: 310px;display: none;}
.card-bank-list li{margin: 2px 0;padding: 5px 0 5px 10px;}
.card-bank-list li:hover{background: #f5f5f5;}
/***********绑定银行卡 end***********/
/***********充值 start***********/
.recharge-sum{padding: 70px 0 55px;margin: 0 90px;text-align: center;border-bottom: 2px solid #eaeaea;}
.recharge-opt{position: relative;margin-left: 40px;color: #666;}
.recharge-radio span{display: inline-block;width: 8px;height: 8px;border: 2px solid #eaeaea;border-radius: 10px;background: #eaeaea;margin-right: 10px;vertical-align: -1px;}
.rad-inp{opacity: 0;position: absolute;top: 0;left: 0;filter:alpha(opacity=0);}
.focus .recharge-radio span{border-color: #2fd887;}
.recharge-inp-sum{width: 110px;height: 30px;padding-left: 10px;background: #eaeaea;margin-left: 10px;}
.recharge-way{text-align: center;padding: 55px 0;}
.way-img{display: inline-block;}
.way-cap{display: inline-block;vertical-align: -7px;margin-left: 12px;}
.recharge-btn-box{text-align: center;}
/***********充值 end***********/
/***********我的消息 start***********/
.myinfo-tit{background:#00a7ed;border-radius: 5px 5px 0 0;overflow: hidden;height: 36px;line-height: 36px;color:#fff;border-bottom: 1px solid #ccc;}
.myinfo-tit-fl{float: left;}
.myinfo-tit-fl i{float: left;margin: 1px 10px;}
.myinfo-tit-fr{float: right;}
.myinfo-tit-fr a{color:#fff;margin:0 10px;}
.myinfo-list{min-height: 400px;}
.myinfo-list li{border-bottom: 2px solid #dedede;}
.myinfo-row{overflow: hidden;padding: 15px 0;position: relative;}
.myinfo-check-label{position: absolute;background:url(../img/check.png) no-repeat 0 0;width: 13px;height: 13px;top: 18px;left:12px;overflow: hidden;}
.myinfo-check{position: absolute;left:0;top:0;opacity:0;filter:alpha(opacity=0);}
.myinfo-td{display: block;color:#333;overflow: hidden;margin-left: 40px;}
.myinfo-td i{color:#00a7ed;font-size: 30px;float: left;line-height: 18px;}
.myinfo-td span{float: left;}
.myinfo-td .td-time{float: right;margin-right: 10px;}
.td-tips{width:3em;text-align: center;margin:0 28px 0 12px;}
.td-title{color:#666;margin-right: 10px;}
.td-title-con{white-space: nowrap;overflow: hidden;width:59%;text-overflow: ellipsis;}
.myinfo-row-details{padding:20px 18px 10px 42px;background:#f8f8f8;border-top: 1px dashed #ccc;margin:0 10px 0 40px;margin-bottom: 7px;display: none;}
.myinfo-row-det-con{color:#333;text-align: justify;}
.myinfo-come{text-align: right;margin-top: 25px;}
.ischecked{background-position: 0 -35px;}
.been-read{color:#666;}
.been-read .td-title{color:#999;}
.been-read i{color:#d8d8d8;}
.myinfo-page{padding:20px 0 15px;}
.myinfo-page #Pagination .pagination a, .myinfo-page #Pagination .pagination span{padding:1px 7px;}
.myinfo-page #Pagination .pagination .prev, .myinfo-page #Pagination .pagination .next{display: none;}
.myinfo-page .page-sum{vertical-align: 9px;}
/***********我的消息 end***********/
/***********充值提现 start***********/
.paycheck{padding:12px 12px 0;}
.paycheck-wrap{min-height: 350px;}
.paycheck-list{width:100%;border-collapse: collapse;}
.paycheck-list thead{background:#00a7ed;color:#f8f8f8;height: 27px;line-height: 27px;}
.paycheck-list tbody tr{height:30px;vertical-align: middle;text-align: center;color:#333;}
.paycheck-list tbody tr:nth-child(odd){background:#e3f7ff;}
.paycheck-list tbody tr:nth-child(even){background:#fcfcfc;}

.remaining{margin: 10px 0;border-right: 2px solid #e2e2e2;width: 55%;box-sizing: border-box;float: left;text-align: center;}
.remain-num{width: 150px;height: 85px;background:url(../img/recharge.png) no-repeat center top;text-align: center;font-size: 16px;padding-top: 32px;display: inline-block;vertical-align: 18px;}
.remain-num em{display: block;color:#edad00;font-size: 20px;}
.remain-state{font-size: 16px;color:#333;display: inline-block;overflow: hidden;text-align: left;}
.remain-state span{display: block;width:50%;float: left;margin-top: 20px;}
.remain-state i{font-size: 22px;margin-right: 3px;}
.remain-state .icon-shouru{color:#63dfac;}
.remain-state .icon-zhichu{color:#df6377;}
.zaitu{display: inline-block;width: 23px;height: 24px;background:url(../img/zaitu.png) no-repeat;vertical-align: -7px;}
.remain-bottom{padding:0 0 8px 32px;text-align: left;}
.recharge-money,.cash{display: inline-block;width: 154px;height: 34px;line-height: 34px;border: 1px solid #ccc;border-radius: 3px;text-align: center;margin-top: 15px;}
.recharge-money{background:#00a7ed;color:#fff;margin-right: 70px;}
.cash{background:#f8f8f8;color:#333;}
.upload-bankcard{padding-top: 20px;width: 45%;box-sizing: border-box;float: left;}
.uploaded-img{position: relative;}
.uploaded-img,.bankcard-img{margin:0 auto;width: 260px;height: 160px;}
.bankcard-img{background:#888;border-radius:5px;color: #fff;text-align:center;line-height:36px;}
.bankcard-img em{font-size:20px;display:block;padding-top:28px;}
.delete-card{position: absolute;top: -5px;right: -5px;background:rgba(0,0,0,0.7);filter:alpha(opacity=70);color:#fff;width: 20px;height: 20px;text-align: center;line-height: 20px;border-radius: 20px;cursor: pointer;border: 1px solid #ccc;display: none;}
.card-span{display: block;position: relative;width: 90px;height: 105px;text-align: center;margin:20px auto 0;overflow: hidden;}
/*.card-span input{position: absolute;top: 0;right: 0;margin: 0;opacity: 0;-ms-filter: 'alpha(opacity=0)';font-size: 200px !important;direction: ltr;cursor: pointer;width: auto;height: auto;}*/
/*.card-upload{display:none;}*/
.card-upload-tip i{display: block;font-size: 54px;color:#baedf0;}
.money-category{padding-top: 20px;}
.money-cate-fr{float: right;width: 206px;}
.money-cate-fr,.publish-need-sel,.datas-sel{height: 34px;line-height: 34px;background:#fff;border: 1px solid #ccc;border-radius: 3px;color:#666;position: relative;}
.money-cate-fr-cap,.publ-need-sel-cap,.datas-sel-cap{padding:0 20px 0 12px;border-right: 1px solid #afafaf;position: absolute;left: 0;top: 6px;height: 24px;line-height: 24px;}
.money-cate-def{margin-left: 83px;}
.money-cate-def,.publ-need-sel-def,.datas-sel-def{color:#666;position: relative;display: block;}
.money-cate-def:before,.publ-need-sel-def:before,.datas-sel-def:before{font-family: "iconfont";content:'\e618';width: 34px;height: 34px;text-align: center;line-height: 34px;color:#fff;background:#00a7ed;border-radius: 2px;position: absolute;right: 0;top: 0;}
.money-cate-list,.publish-need-list,.datas-list{background:#fff;position: absolute;top: 36px;left:0;text-align: center;width: 100%;box-shadow: 0 0 8px #ccc;display: none;border: 1px solid rgba(0, 0, 0, 0.15);}
.money-cate-list li,.datas-list li{margin:2px 0;cursor: pointer;}
.money-cate-list li:hover,.datas-list li:hover{background:#f2f2f2;}
.reduce{padding-top: 18px;}
/***********充值提现 end***********/
/***********提现 start***********/
.available-money{margin:0 90px;border-bottom: 2px solid #eaeaea;padding:65px 0;text-align: center;color:#666;}
.cash-num{width: 120px;}
.avai-money-all{font-size: 20px;color:#edb200;}
.avai-money-all i{font-size: 28px;margin:0 5px 0 20px;}
/***********提现 end***********/
/***********发布需求 start***********/
.publish-need{text-align: center;}
.publish-need-sel{width: 352px;display: inline-block;margin-top: 30px;}
.publ-need-sel-def{text-align: left;margin-left: 108px;}
.publ-need-sel-def:before,.datas-sel-def:before{background:#72b0fc;}
.verify-default:before{background:#dadada;}
.verify-default{cursor: default;}
.publish-need-list>li{position: relative;}
.publish-need-list>li:hover,.publish-need-list>li ul li:hover{background:#f2f2f2;}
.publish-need-list>li a{display: block;color:#333;padding-left: 108px;text-align: left;}
.publish-need-list>li ul{position: absolute;left:100%;top: 0;background: #fff;padding: 0;white-space: nowrap;border: 1px solid rgba(0, 0, 0, 0.15);border-left: none;display: none;}
.publish-need-list>li ul li{cursor: pointer;padding: 0 10px;}
.publish-need-txt{width: 342px;min-height: 160px;border: 1px solid #ccc;border-radius: 5px;margin-top: 20px;padding:5px;text-align: justify;}
.publish-submit{margin-top: 20px;}
.publish-need-txt2{margin-bottom: 45px;}
.publish-need-state,.expert-certy-state{padding-top: 20px;}
.publish-need-state i,.expert-certy-state i{color:#00a7ed;font-size: 40px;}
.publish-need-blue,.expert-certy-blue{color:#ccc;font-size: 12px;display: inline-block;vertical-align: -5px;text-align: left;margin-left: 10px;}
.publish-need-blue em,.expert-certy-blue em{color:#00a7ed;font-size: 16px;display: block;}
/***********发布需求 end***********/
/***********专家认证 start***********/
.datas{text-align: center;padding-top: 20px;}
.datas-lt{display: inline-block;vertical-align: 13px;margin-right: 30px;}
.datas-rt{display: inline-block;vertical-align: middle;}
.datas-sel{width: 352px;margin-bottom: 20px;}
.datas-sel-cap{width: 80px;padding:0;text-align: center;line-height: 23px;}
.datas-sel-def,.datas-sel-name{margin-left: 92px;text-align: left;background:none;}
.datas-sel-name{width:225px;height: 24px;line-height: 24px;margin-left: 63px;}
.zone-list{overflow: hidden;}
.zone-list li{float: left;width:25%;}
.expert-certy-state{text-align: center;}
.expert-certy-blue{vertical-align: -2px;}
.zindex1{position: relative;z-index: 3;}
.zindex2{position: relative;z-index: 2;}
.zindex3{position: relative;z-index: 1;}
.photo1{width: 158px;height: 128px;border: 1px solid #cccccc;border-radius: 3px;}
.photo-upload{margin-top: 10px;}
.photo-btn-box{width: 160px;height: 36px;line-height: 36px;overflow: hidden;background:#00a7ed;border-radius: 3px;text-align: center;color:#fff;position: relative;cursor: pointer;}
.datas-lt-explain{width: 160px;color:#b2b2b2;font-size: 12px;text-align: justify;line-height: 20px;}
.datas-upload-lt{float: left;}
.datas-upload-rt{float: right;}
.datas-rt textarea{width: 265px;height: 388px;border: 1px solid #ccc;border-radius: 3px;padding:5px;display: block;margin:0 auto;}
.bottom-btn{text-align: center;}
.submit-audit{background:#ed0021;margin-top: 40px;margin-bottom: 40px;}
.placeholder{color:#999;}
/*审核*/
.datas-audit,.datas-member-audit{padding-bottom: 50px;}
.datas-audit .datas-sel,.datas-member-audit .datas-sel,.datas-member-audit .datas-rt textarea{background:#f8f8f8;}
.datas-audit .datas-rt textarea{height:344px;background:#f8f8f8;}
.datas-audit .datas-lt{vertical-align: -11px;}
.success-state i,.success-state em{color:#ed0021;}
/***********专家认证 end***********/
/***********会员认证 start***********/
.enterprise-inp{margin-left: 0;display: block;height:34px;line-height: 34px;width:325px;padding-left: 12px;background:none;}
.datas-vertical .datas-lt{vertical-align: 3px;}
.datas-vertical .datas-rt{vertical-align: 0;;}
.datas-vertical .expert-certy-state{padding-top: 0;text-align: left;}
.renew-btn{background: #ed0021;margin-bottom: 40px;margin-top: -25px;}
/***********会员认证 end***********/
/***********会员缴费 start***********/
.member-box{width: 460px;margin:0 auto;padding-top: 20px;}
.member-box-type{position: relative;margin-bottom: 16px;}
.member-type-cap{position: absolute;top: 0;left:0;line-height: 30px;color:#333;}
.member-type-lab{display: block;margin-left: 5em;overflow: hidden;position: relative;float: left;}
.member-type-lab input{position: absolute;top: 5px;left:0;opacity:0;filter:alpha(opacity=0);}
.define-rad{display:block;width: 8px;height: 8px;border: 2px solid #eaeaea;border-radius: 10px;background: #eaeaea;margin-right: 15px;float: left;margin-top: 8px;}
.member-opt{float: left;border: 1px solid #ccc;border-radius: 3px;width: 58px;height: 28px;text-align: center;line-height: 28px;cursor: pointer;}
.member-box-type .focus .define-rad{border-color: #2fd887;}
.member-box-type .focus .member-opt{background:#00a7ed;border-color: #00a7ed;color:#fff;}
.member-payways{padding-top: 20px;}
.member-payways b{top: 23px;}
.member-fees{margin-left: 5em;display: block;line-height: 30px;color:#00a7ed;}
.member-payways-img{float: left;margin-right: 15px;}
.payways-cap{float: left;}
.member-payways .member-type-lab{line-height: 35px;}
.member-payways .define-rad{margin-top: 12px;}
.fees-btn{margin-top: 35px;}
/***********会员缴费 end***********/
/***********我的需求 start***********/
.myrequire-bg{max-width: 965px;min-width:800px;height: 107px;background:url(../img/uctbg.jpg) no-repeat;border: 1px solid #ccc;border-radius: 3px;color:#fff;text-align: center;}
.need-publish-btn{display: inline-block;padding:8px 25px;font-size: 16px;color:#fff;background:#00a7ed;border-radius: 5px;vertical-align: 34px;}
.publish-intro{width: 380px;display: inline-block;margin:0 0 0 5%;text-align: left;}
.introduce-cap{font-size: 16px;border-bottom: 1px solid #ede500;display: inline-block;margin-top: 12px;}
.three-icon{padding-top: 17px;display: inline-block;}
.five-icon{width:250px;float: right;}
.five-icon a{float: left;width: 50%;}
.icon-row{display: block;font-size: 12px;overflow: hidden;line-height: 20px;margin-bottom: 5px;color:#fff;}
.icon-row i{-webkit-text-stroke-width: 0;margin-right: 5px;float: left;color:#00edce;}
.icon-row.active i{color:#ede500;}
.icon-row span{float: left;margin-right: 7px;}
.icon-row em{float: left;height: 20px;text-align: center;line-height: 20px;background:#2a546b;padding:0 3px;}
/*搜索条*/
.uct-search-result{padding:15px;}
.uct-list-filter{max-width: 965px;min-width:800px;border: 1px dashed #bebebe;font-size: 12px;border-radius: 5px;background:#fff;margin:20px 0;}
.uct-search{background:#dbdbdb;padding:20px 0;}
.uct-list-search{width:525px;margin:0 auto;font-size: 16px;position: relative;}
.uct-list-search-inp{width:475px;height: 40px;line-height: 40px;padding:0 20px;box-sizing: border-box;}
.uct-list-search-btn{position: absolute;right: 0;top: 0;background:#00a7ed;border: none;color: #fff;width: 50px;height: 40px;line-height: 40px;text-align: center;}
.uct-list-search-btn i{-webkit-text-stroke-width: 0;font-size: 20px;}
/*排序*/
.ucenter-con .uct-sort{margin:0 0 20px 0;}
/*列表*/
.uct-oh{overflow: hidden;position: relative;}
.main-right .supply-list{margin-left: -10px;margin-right: -10px;padding-top: 24px;}
/***********我的需求 end**********/
/***********我的需求详情 start***********/
.myneeds{padding: 15px 20px;}
.myneed-con{position: relative;color:#333;}
.myneed-icon{position: absolute;top: 0;right: 0;}
.myneed-icon a{margin-left: 15px;color: #999;}
.myneed-icon i{margin-right: 7px;display: inline-block;vertical-align: -1px;}
.myneed-icon .visitor i{font-size: 18px;}
.myneed-icon .red{color:#e00909;}
.myneed-type,.myneed-time{display: block;margin-bottom: 10px;}
.myneed-time em{color:#666;}
.myneed-set{color:#e00909;font-size: 12px;margin-bottom: 15px;}
.myneed-set-btn{padding:0 35px;background:#00a7ed;border: none;border-radius: 4px;color:#fff;font-size: 16px;display: inline-block;height: 28px;line-height: 28px;margin-right: 20px;}
.myneed-desc-tit{display: block;}
.myneed-desc-para{color:#666;line-height: 20px;text-align: justify;padding-top: 3px;padding-bottom: 14px;}
/*pinglun*/
.details-abs-tit{position: relative;}
.details-graph{width: 80px;height: 10px;border: 1px solid #d9d9d9;border-top:none;position: relative;}
.square{position: absolute;left:-4px;top: -7px;width: 7px;height: 7px;background:#00a7ed;}
.details-tit-cap{color:#00a7ed;position: absolute;left:13px;top: -17px;background:#fff;font-size: 16px;}
.forth-cap{padding-right:5px;}
.mes-list-box{border-bottom: 1px dotted #ccc;padding-bottom: 15px;}
.message-list{padding-top: 32px;}
.floor-host{padding: 15px 0;position: relative;min-height: 45px;}
.floor-host-ava,.floor-guest-ava{position: absolute;left:0;top: 15px;width: 45px;height: 45px;border-radius: 30px;}
.floor-host-desc,.gloor-guest-cnt{padding-left: 60px;}
.floor-host-name,.floor-guest-name{color:#00a7ed;}
.floor-host-words,.floor-guest-words{display: block;padding:10px 0;font-size: 16px;color:#333;text-align: justify;}
.floor-host-time{color:#888;margin-left: 20px;}
.reply-list-ul li{position: relative;padding: 10px 10px 25px;min-height: 45px;}
.floor-guest-ava{top: 10px;left:10px;}
.floor-guest-words{font-size: 14px;padding: 0;}
.message-reply-show{text-align: right;font-size: 12px;}
.message-reply-show a{color:#666;margin-left: 10px;}
.reply-list{width:90%;float: right;}
.reply-list-ul{background:#f7f8fa;border: 1px solid #eee;display: none;width:100%;box-sizing: border-box;}
.floor-bottom{text-align: right;font-size: 12px;}
.reply-btn{color:#1D53BF;}
.floor-guest-time{margin-right: 10px;color:#888;}
.reply-box{padding:10px 0;display: none;}
.reply-enter{height: 56px;overflow-y: auto;border: 2px solid #eee;padding:2px 5px;text-align: justify;width: 100%;box-sizing: border-box;}
.publish-box{text-align: right;padding: 10px 0;}
.publish-btn{padding:2px 10px;display: inline-block;background:#00a7ed;border:1px solid #0593cf;color:#fff;}
/***********我的需求详情 end***********/
/***********专家资源库 start***********/
.resource-icon-row{margin-bottom: 30px;}
.resource-intro{width: 540px;margin: 0 0 0 5%;}
/***********专家资源库 end***********/
/***********专家资源详情 start***********/
.myexpert{padding: 20px;}
.myexpert-top{position: relative;min-height: 128px;padding-bottom: 22px;}
.myexpert-img{position: absolute;top: 0;left: 0;width: 128px;height: 128px;}
.myexpert-rt{margin-left: 148px;}
.myexp-name,.myexp-best,.myexp-time{display: block;color: #888;margin-bottom: 12px;}
.myexp-name{font-weight: bold;font-size: 18px;color: #333;}
.myexp-name i{color: #b0e4f9; font-weight: normal; font-size: 30px; float: left; height: 27px; line-height: 26px; margin-right: 9px;}
.myexp-best em,.myexp-time em{color: #333;}
.myexpert-lab{overflow: hidden;padding-bottom: 10px;}
.myexp-lab-a{float: left; display: block; border: 1px solid #ccc; color: #999; border-radius: 3px; margin-right: 4px; margin-bottom: 2px; white-space: nowrap; font-size: 12px; padding: 0 3px;}
.myexpert-brief{position: relative;}
.myexp-brief-desc{padding-top: 10px;text-align: justify;text-indent: 2em;padding-bottom: 32px;border-bottom: 2px solid #ccc;}
.myexpert-brief .collect{position: absolute;bottom: 12px;right: 0px;color: #c4c4c4;}
.myexpert-brief .red{color: #e00909;}
/***********专家资源详情 end***********/
/***********我的办事 start***********/
.mywork-intro{width: 480px;margin: 0 0 0 5%;}
.mywork-wrap{padding:12px;min-height: 400px;}
.mywork-wrap a{color:#333;display: block;}
/***********我的办事 end***********/
/***********我的视频咨询 start***********/
/*.myask{min-width:800px;}*/
.myask-intro{width: 480px;margin:0 4%;}
.myask-meet{display: inline-block;vertical-align: 26px;}
.myask-meet .need-publish-btn{display: block;}
.fs12{font-size: 12px;}
.myask-tabar{margin-bottom: -4px;margin-top:20px;}
.myask-tabar .active{background:#00a7ed;color:#fff;}
.myask-tabar-a{display: inline-block;padding:8px 20px 10px;background:#fff;border-radius: 3px 3px 0 0;border: 1px solid #ccc;border-bottom: none;color:#333;}
.myask-tab{position: relative;z-index: 2;}
/***********我的视频咨询 end***********/
/***********我的办事详情 start***********/
.mywork-det{text-align: center;padding: 35px 0;}
.mywork-det-txt{border: 1px solid #ccc;border-radius: 3px;min-height: 195px;width: 330px;display: inline-block;padding:10px;text-align: left;max-height: 500px;}
.mywork-det-tit{display: block;color:#333;}
.mywork-det-desc-para{color:#333;text-align: justify;}
.respond-btn-box{padding-top: 16px;}
.respond-btn{display: inline-block;width: 250px;height: 40px;line-height: 40px;text-align: center;color:#fff;border-radius: 3px;border: none;font-size: 16px;margin-top: 24px;}
.unrespond{background:#00a7ed;}
.unrespond:hover{box-shadow: 0 1px 3px #999;}
.responded{background:#abe2f9;cursor: default;}
.respond-tips{color:#ed0006;font-size: 16px;display: block;margin-top: 10px;}
/***********我的办事详情 end***********/
/***********我的视频咨询详情 start***********/
.myask-detail-need{display: block;width: 250px;height: 34px;border: 1px solid #ccc;border-radius: 3px;line-height: 34px;margin:0 auto;position: relative;padding-left: 100px;text-align: left;color:#333;}
.myask-detail-cap{position: absolute;height: 24px;line-height: 24px;border-right: 1px solid #afafaf;top: 5px;left:10px;padding-right: 6px;}
.myask-detail-time{color:#333;display: block;margin:0 auto;text-align: left;width: 330px;padding:12px 22px;}
/***********我的视频咨询详情 end***********/
/***********企业办事服务 start***********/
.works-wrap{padding:15px;min-height:350px;}
.works-filter{line-height: 30px;padding-bottom: 10px;border-bottom: 1px dashed #bebebe;margin-bottom: 10px;}
.works-sel{width: 174px;display: inline-block;position: relative;margin-right: 20px;margin-left: 5px;}
.works-sel-def{display: block;background:#f8f8f8;color:#333;position: relative;height:30px;padding-left: 8px;}
.works-sel-def:before{font-family: "iconfont";content:'\e618';width: 30px;height: 30px;text-align: center;color:#fff;background:#00a7ed;border-radius: 1px;position: absolute;right: 0;top: 0;}
.works-sel-list{position: absolute;top: 30px;left:0;width:100%;background:#fff;box-shadow: 0 0 8px #ccc;border: 1px solid rgba(0, 0, 0, 0.15);display: none;}
.works-sel-list li{padding-left: 8px;cursor: pointer;}
.works-sel-list li:hover{background:#f8f8f8;}
.works-sel-count em{color:#333;padding-left: 5px;}
.works-wrap .paycheck-list a{color:#333;display: block;}
.works-step .card-step-cap{margin:0 4px;}
.uct-works{width: 354px;margin:0 auto;display: block;text-align: left;}
.uct-works .publish-need-sel{margin-top: 20px;}
.calendar-start,.calendar-end{color:#333;padding-bottom: 10px;}
.calendar-start span,.calendar-end span{float: left;line-height: 34px;}
.calendar-start .calendar-date,.calendar-end .calendar-date{display: block;width: 250px;border: 1px solid #ccc;border-radius: 3px;height: 34px;margin-left: 15px;padding-left: 10px;cursor: pointer;}
.uct-works-txt{display: block;margin:20px auto;}
.calendar{width: 354px;margin:0 auto;}
.uct-works-exp{line-height: 36px;}
.uct-works-exp span{display: inline-block;width: 4em;margin-right: 10px;}
.uct-works-btn{display: inline-block;padding:0 28px;height: 34px;line-height: 34px;background:#fff;border: 1px solid #ccc;border-radius: 4px;color:#333;}
.uct-works-btn:hover,.uct-works-exp .active{background:#00a7ed;border-color: #00a7ed;color:#fff;}
.system-btn{margin-right: 50px;}
.special-btn{color:#333;margin-right: 20px;cursor: default;}
.system-btn2{cursor: default;margin-bottom: 40px;}
.uct-works-tips{color:#ed0021;}
.uct-works-tips-para{text-align: justify;}
.uct-works-con{text-align: center;}
.uct-works-icon{display: inline-block;width: 38px;height: 38px;line-height: 38px;background:#00a7ed;border-radius: 30px;vertical-align: 8px;}
.uct-works-icon i{font-size: 18px;color:#fff;-webkit-text-stroke-width: 0;}
.uct-works .icon-chenggong{color:#e3e3e3;}
.default-result .publish-need-sel,.default-result .uct-works-txt{background:#f8f8f8;}
.system-invite{display: block;text-align: center;padding:10px 0 20px;}
.invite-count{color:#00a7ed;font-size: 16px;margin-left: 10px;}
.uct-works-known{margin-bottom: 20px;}
.icon1{background:#00a7ed url(../img/icon1.png) no-repeat center center;}
.uct-works .icon1{vertical-align: -6px;}
.uct-works-exps{text-align: center;}
.uct-works-exps-list{overflow: hidden;padding-top: 10px;padding-bottom: 20px;}
.uct-works-exps-list li{float: left;width:33.3333%;margin-bottom: 20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.uct-works-exps-list li a{display: inline-block;color:#333;}
.uct-works-exps-list .current span{background:url(../img/icon2.png) no-repeat;opacity:1;}
.uct-works-exps-list li span{display: block;width: 37px;height: 41px;background:url(../img/icon3.png) no-repeat;margin:0 auto;opacity:0.3;}
.default-result .calendar-date{background-color:#f8f8f8;cursor: default;}
.uct-works-final .icon-chenggong{color:#2fd887;}
.uct-works-expava{overflow: hidden;padding:10px 0;}
.uct-works-exp-img{float: left;width: 64px;height: 64px;margin:0 3px;border-radius: 5px;}
/***********企业办事服务 end***********/
/***********星级评分 start***********/
.rate{padding-top: 28px;}
.rating{overflow: hidden;}
.rate-exp{overflow: hidden;padding-bottom: 30px;}
.rate-exp-icon{display: inline-block;padding-left: 55px;height: 41px;background:url(../img/icon3.png) no-repeat left top;line-height: 56px;width: 80px;color:#333;white-space: nowrap;text-align: left;}
.rating{display: inline-block;padding-right: 5px;vertical-align: -2px;}
.rating img{float: left;width: 24px;height: 24px;margin-right: 15px;}
.rate-btn{display: inline-block;line-height: 26px;font-size: 16px;color:#333;margin:0 15px;vertical-align: 2px;}
.rate-btn:hover{color:#00a7ed;}
.rate-box{padding-top: 13px;display: none;vertical-align: 3px;}
.dib{display: block;margin:0 auto;}
.rate-inp{width: 270px;padding-left: 5px;border: 1px solid #eee;height: 26px;line-height: 26px;}
.rate-confirm-btn{background:#00a7ed;color:#fff;border: none;border-radius: 2px;padding:0 6px;display: inline-block;height: 24px;line-height: 24px;}
.rate-star-btn{margin-top: 20px;}
/***********星级评分 end***********/
/***********专家视频咨询 start***********/
.uct-video-manage{padding:20px;}
.video-manage-top{overflow: hidden;margin-left: -20px;margin-right: -20px;padding-bottom: 35px;}
.vid-man-top-main{width:50%;box-sizing: border-box;padding-right: 20px;padding-left:20px;float: left;}
.vid-man-top-con{background:#f8f8f8;padding:16px 12px;border: 1px solid #ccc;border-radius: 3px;}
.vid-man-top-rt .vid-man-top-con{padding:12px 12px 0;}
.vid-man-top-cat{margin-bottom: 9px;color:#333;}
.vid-man-top-desc{text-align: justify;color:#333;line-height: 22px;}
.video-manage-frame{padding:35px 0 25px;border-top: 1px dashed #ccc;}
.emcee,.emcee-bottom{overflow: hidden;}
.emcee span,.emceer-pers{display: block;float: left;text-align: center;}
.emcee-cap{line-height: 28px;}
.emceer-pers i{display: block;font-size: 28px;color:#00a7ed;margin-bottom: -5px;margin-top: -5px;}
.emcee-bottom{padding-top: 20px;position: relative;}
.emcee-members{overflow: hidden;padding-left: 3em;}
.emcee-bot-cap{position: absolute;top: 30px;left:0;}
.emcee-members .emceer-pers{margin:0 1em 10px;}
.myask-invite .vid-man-top-cat{margin-bottom: 3px;}
.myask-invite .vid-man-top-con{padding:12px;}
.light-color{color:#666;}
/***********专家视频咨询 end***********/
.datas-newchange{margin-top:0;margin-bottom:20px;}
.reselect-top{color:#ed0021;position: relative;padding:12px 30px;margin:10px 0;border: 1px solid #eee;background:#fff;font-size: 15px;}
.reselect-top .myinfo-check-label{top: 16px;left:9px;}
.xuanzhong{position: absolute;top: 1px;right: 26px;width: 32px;height: 32px;line-height: 32px;text-align: center;background:#ececec;color:#666;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.xzchecked{color:#fff;background:#00a7ed;border-color: #fff;}
.reselect-btn-box{text-align: center;padding-bottom: 30px;}
.reselect-btn{display: inline-block;padding:3px 25px;border: 1px solid #ccc;border-radius: 3px;margin:0 50px;}
.back-btn{background:#ececec;color:#333;}
.back-btn:hover{background:#f4f4f4;}
.select-btn{background:#1296d9;color:#fff;}
.select-btn:hover{background:#00a7ed;}