.system-btn{margin-right:0;}
.uct-works-btn{margin:0 10px;}
.vid-man-top-desc{
    overflow: auto;
    height:50px;}
.vid-man-top-main{
    height: 185px;}
.vid-man-top-rt .vid-man-top-con{
    height: 170px;}
.msg-input.p2p{
    width: 64%;}

@media screen and (max-width: 992px){
    .vid-man-top-main{
        float: none;
        width: 100%;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 560px) {
    .handle-affair-desc{
        width: 100%;}
    .handle-affair-desc{
        margin-top:45px;}
}
@media screen and (max-width: 414px) {
    .calendar{width: 220px;}
    .calendar-start .calendar-date, .calendar-end .calendar-date{width: 150px;margin-left:0;}
    .msg-input.p2p{
        width: 100px;
    }
    .chat-room-btn{
        margin:0;}
}