
.vmain-manage-list{/*margin-top: 35px;*/}
.v-works-sel{width: 135px;display: inline-block;position: relative;margin:12px 0;float: right;margin-right: 25px;}
.v-works-sel-def{display: block;background:#fff;color:#008ec9;position: relative;height:28px;line-height: 28px;border-radius: 5px;text-align: center;}
.v-works-sel-def:before{font-family: "iconfont";content:'\ea81';color:#00a7ed;position: absolute;right: 8px;top: 1px;font-size: 16px;}
.v-works-sel-def:after{font-family: "iconfont";content:'\e652';color:#76b2f8;position: absolute;left: 14px;top: 1px;font-size: 16px;}
.v-works-sel-list{position: absolute;top: 30px;left:0;width:100%;background:#fff;box-shadow: 0 0 8px #ccc;border: 1px solid rgba(0, 0, 0, 0.15);display: none;z-index: 2;}
.v-works-sel-list li{padding-left: 8px;cursor: pointer;line-height: 30px;}
.v-works-sel-list li:hover{background:#f8f8f8;}
.v-manage-list-ul{clear:both;}
.v-manage-list-ul li{padding:0 25px 50px;width:33.3333333%;float: left;box-sizing: border-box;}
.v-manage-list-ul-link,.v-supply-tip{overflow: hidden;background:#fff;display: block;border-radius: 5px;box-shadow: 0 0 5px #ccc;position: relative;padding:14px 15px 25px;color:#666;}
.v-manage-link-icon{display: block;width: 46px;height: 49px;background:url(../img/vicons.png) no-repeat 0 0;position: absolute;top: 20px;left:15px;}
.nature1{background-position: 0 -49px;}
.nature2{background-position: 0 -98px;}
.nature3{background-position: 0 -147px;}
.v-manage-link-tit{margin-left: 56px;color:#000;margin-top: 3px;display: block;}
.v-manage-link-sentit{font-size: 18px;}
.v-manage-link-juntit{display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 3px;}
.v-manage-link-desc{text-align: justify;margin: 24px 0 50px;overflow: hidden;line-height: 24px;height: 168px;}
.v-manage-link-rate{position: relative;margin:0 auto;height: 2px;width: 130px;background:#c8c8c8;}
.vprogress{display: block;position: absolute;top:-4px;width: 10px;height: 10px;background:#c8c8c8;border-radius: 10px;}
.vprog2{left: 30px;}
.vprog3{left: 60px;}
.vprog4{left: 90px;}
.vprog5{left: 120px;}
.vping{background:#004981;}
.v-supply-tip{height:298px;}
.v-my-hover{display: block;width: 80px;height: 80px;margin:108px auto 0;border-radius: 50%;overflow: hidden;background:#00a7ed;text-align: center;line-height: 80px;}
.v-my-hover:hover .to-link-supply1,.v-my-hover:hover .to-link-supply2{-webkit-transform:translateY(-80px);transform:translateY(-80px);}

.to-link-supply1,.to-link-supply2{display: block;color:#fff;height: 80px;-webkit-transition:all .5s;transition:all .5s;}
.to-link-supply2{line-height: 20px;width: 3em;margin:0 auto;padding-top: 20px;}
.to-link-supply1 i{font-size: 36px;-webkit-text-stroke-width: 0;}


.v-works-manage-list-top{padding:22px 25px;position: relative;}
.v-works-mlt-select{float: left;}
.v-works-mlt-select .active,.v-works-mlt-opt:hover{background:#00a7ed;border-color: #00a7ed;color:#fff;}
.v-works-mlt-opt{display: inline-block;height:28px;line-height: 28px;background:#fff;border-radius: 3px;border: 1px solid #ccc;margin-right: 15px;padding:0 15px;color:#333;}
.goto-work{float: right;padding:0 20px 0 15px;background:#004981;border: 1px solid #242424;border-radius: 3px;color:#fff;height: 28px;line-height: 28px;}
.goto-work i,.goto-work1 i{font-size: 12px;-webkit-text-stroke-width: 0;margin-right: 10px;}
.v-supply-con{position: absolute;background:#f0f9ff;width:40%;top: 22px;right:148px;padding:10px;text-align: justify;display: none;border-radius: 5px;z-index: 3;line-height: 24px;color:#333;box-shadow: 0 0 5px #dadada;}
.v-supply-con:before{content:"\e625";font-family: "iconfont";position: absolute;right: -10px;top: 3px;color:#f0f9ff;}
.v-supply-tip-top{font-size: 16px;color:#333;display: block;margin: 28px 0 10px 16px;}
.v-supply-tactic{margin-left: 16px;margin-bottom: 5px;font-size: 16px;letter-spacing: 1px;color:#333;}
.v-supply-tactic span{margin-right: 8px;display: inline-block;}
.nolength{margin:0 auto;}
.goto-work1{margin:22px 16px 0;display: block;background:#ffaa00;height:30px;line-height: 30px;border-radius: 5px;color:#fff;text-align: center;}
.v-manage-link-time{position: absolute;top: 9px;right: 15px;font-size: 12px;}
.v-manage-link-time i{margin-right: 4px;display: inline-block;vertical-align: middle;}
.v-manage-link-time1{top: 25px;}
.v-feedback{clear: both;padding-top:15px;}
.v-feedback-span{display: block;background:#fff;border-radius: 3px;width: 214px;color:#333;padding:0 70px 0 16px;height: 30px;line-height: 30px;}
.v-feedback i{color:#fd5055;margin-right: 5px;}
.v-feedback-count{color:#00a7ed;font-weight: bold;}
.accept{display: block;margin:0 28px 10px;background:#fd5055;text-align: center;height: 30px;line-height: 30px;color:#fff;border-radius: 4px;}
.v-manage-list-ul li:hover .v-manage-link-sentit{color:#00a7ed;}
.accept:hover{background:#fc2e34;}
.v-m-list-box .v-manage-link-desc{margin: 24px 0 30px;}
.v-m-list-box .v-manage-list-ul{display: none;}
.v-m-list-box .v-m-l-show{display: block;}
.v-m-list-box{min-height: 382px;}