.vmain-work-manage-top{padding:10px 28px;border: 1px solid #ccc;background:#fff;background:rgba(255,255,255,0.6);border-radius: 5px;box-shadow: 0 0 5px #ccc;overflow: hidden;}
.vmain-work-top-pic{border: 1px solid #ccc;border-radius: 4px;float: left;width: 142px;height: 82px;}
.vmain-work-top-rt{float: left;}
.vmain-work-top-rt{margin-left: 28px;font-size: 16px;}
.vmain-work-top-rt .icon-vip{margin-left: 15px;color:#004981;font-size: 20px;}
.vmain-to-cert{display: block;background:#e90e37;color:#fff;border-radius: 3px;margin-top: 25px;text-align: center;width: 82px;}
.vmain-manage-list{background:#fff;background:rgba(255,255,255,0.4);border-radius: 5px;margin-top: 35px;}
.v-works-sel{width: 135px;display: inline-block;position: relative;margin:12px 0;float: right;margin-right: 25px;}
.v-works-sel-def{display: block;background:#fff;color:#008ec9;position: relative;height:28px;line-height: 28px;border-radius: 5px;text-align: center;}
.v-works-sel-def:before{font-family: "iconfont";content:'\ea81';color:#00a7ed;position: absolute;right: 8px;top: 1px;font-size: 16px;}
.v-works-sel-def:after{font-family: "iconfont";content:'\e652';color:#76b2f8;position: absolute;left: 14px;top: 1px;font-size: 16px;}
.v-works-sel-list{position: absolute;top: 30px;left:0;width:100%;background:#fff;box-shadow: 0 0 8px #ccc;border: 1px solid rgba(0, 0, 0, 0.15);display: none;z-index: 2;}
.v-works-sel-list li{padding-left: 8px;cursor: pointer;line-height: 30px;}
.v-works-sel-list li:hover{background:#f8f8f8;}
.v-manage-list-ul{clear:both;}
.v-manage-list-ul li{padding:0 25px 50px;width:33.3333333%;float: left;box-sizing: border-box;}
.v-manage-list-ul-link,.v-supply-tip{background:#fff;display: block;border-radius: 5px;box-shadow: 0 0 5px #ccc;position: relative;padding:10px 15px 25px;color:#666;}
.v-manage-link-icon{display: block;width: 46px;height: 49px;background:url(../img/vicons.png) no-repeat 0 0;position: absolute;top: 15px;left:15px;}
.nature1{background-position: 0 -49px;}
.nature2{background-position: 0 -98px;}
.nature3{background-position: 0 -147px;}
.v-manage-link-tit{margin-left: 56px;color:#000;margin-top: 3px;}
.v-manage-link-sentit{font-size: 18px;}
.v-manage-link-juntit{display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-top: 3px;}
.v-manage-link-desc{text-align: justify;margin: 24px 0 50px;overflow: hidden;line-height: 24px;height: 168px;}
.v-manage-link-rate{position: relative;margin:0 auto;height: 2px;width: 130px;background:#c8c8c8;}
.vprogress{display: block;position: absolute;top:-4px;width: 10px;height: 10px;background:#c8c8c8;border-radius: 10px;}
.vprog2{left: 30px;}
.vprog3{left: 60px;}
.vprog4{left: 90px;}
.vprog5{left: 120px;}
.vping{background:#004981;}
.v-supply-tip{height:298px;position: relative;}
.v-my-hover{display: block;width: 80px;height: 80px;margin:108px auto 0;border-radius: 50%;overflow: hidden;background:#00a7ed;text-align: center;line-height: 80px;}
.v-my-hover:hover .to-link-supply1,.v-my-hover:hover .to-link-supply2{-webkit-transform:translateY(-80px);transform:translateY(-80px);}

.to-link-supply1,.to-link-supply2{display: block;color:#fff;height: 80px;-webkit-transition:all .5s;transition:all .5s;}
.to-link-supply2{line-height: 20px;width: 3em;margin:0 auto;padding-top: 20px;}
.to-link-supply1 i{font-size: 36px;-webkit-text-stroke-width: 0;}
.v-supply-con{position: absolute;background:#fff;border: 1px solid #ccc;width:100%;top: 200px;left:10px;padding:10px;text-align: justify;display: none;border-radius: 5px;}
.v-page{padding:0 0 25px;}
.v-page #Pagination .pagination a, .v-page #Pagination .pagination span{border: none;}