<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>升维</title>
        <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css" />
        <link rel="stylesheet" type="text/css" href="css/global.css" />
        <link rel="stylesheet" type="text/css" href="css/public.css" />
        <link rel="stylesheet" type="text/css" href="css/ucenter.css" />
        <link rel="stylesheet" type="text/css" href="css/works.css" />
        <!-- js / start -->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/pagination.js"></script>
        <script type="text/javascript" src="js/layer/layer.js"></script>
        <script type="text/javascript" src="js/public.js"></script>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/utils/html5shiv.js?1401441990"></script>
        <script type="text/javascript" src="js/utils/respond.min.js?1401441990"></script>
        <![endif]-->
    </head>
    <body>
    <!-- 公共header / start -->
    <div class="header">
        <div class="container clearfix">
            <div class="navbar-header clearfix">
                <a href="index.html" class="navbar-brand navbar-link">
                    <img src="img/logo.png" alt="首页">
                </a>
                <button class="navbar-toggle"><i class="iconfont icon-daohang"></i></button>
            </div>
            <div class="bars">
                <!-- 未登录 -->
                <span class="before-login" style="display:none;">
                    <a href="javascript:;" class="register header-link"><i class="iconfont icon-bianji"></i>注册</a>
                    <a href="javascript:;" class="login header-link"><i class="iconfont icon-suo"></i>登录</a>
                </span>
                <!-- 登录后 -->
                <span class="after-login" style="display:block;">
                    <a href="javascript:;" class="quit header-link">退出</a>
                    <a href="javascript:;" class="log-username header-link"><i class="iconfont icon-touxiang"></i>路漫漫其修远兮</a>
                </span>
                <div class="searchbar">
                    <a href="javascript:;" class="search-cli"><i class="iconfont icon-sousuo"></i></a>
                    <div class="search-sear">
                        <form name="">
                            <div class="select-box">
                                <div class="select-showbox"><span></span><i class="iconfont icon-xiangxiajiantou"></i></div>
                                <ul class="select-option">
                                    <li>搜专家</li>
                                    <li>搜供求</li>
                                </ul>
                            </div> 
                            <input class="search-text" name="keyboard" placeholder="请输入关键字">
                            <span class="search-bar"><button type="button" class="search-btn"><i class="iconfont icon-sousuo"></i></button></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="navbar-nav clearfix">
                <ul class="nav">
                    <li class="active"><a href="javascript:;">首页</a></li>
                    <li><a href="javascript:;">服务介绍</a></li>
                    <li><a href="javascript:;">专家资源</a></li>
                    <li><a href="javascript:;">供求信息</a></li>
                    <li><a href="javascript:;">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 公共header / end -->
    <div class="ucenter v-work-manage">
        <div class="wrap clearfix">
            <!-- 侧边栏公共部分/start -->
            <div class="v-aside">
                <a href="uct_expcert.html" class="goto-renzh v-personal" title="去认证"><img src="img/avatar1.jpg" class="v-avatar" /><i class="iconfont icon-vip havevip" title="已认证"></i><i class="iconfont icon-vip" title="未认证"></i></a>
                <a href="uct_basic.html" class="v-personal" title="个人中心">
                    <span class="v-nick">123****7890</span>
                </a>
                <!-- 我是企业时 -->
                <div class="v-money-info iamenter">
                    <a href="uct_recharge.html" class="v-money" title="充值提现"><i class="iconfont icon-chongzhihetixian"></i></a>
                    <a href="uct_myinfo.html" class="v-info" title="我的消息"><i class="iconfont icon-xiaoxi"></i><span class="v-new-info-tip"></span></a>
                </div>
                <!-- 我是专家时 -->
                <div class="v-money-info iamexpert">
                    <a href="uct_recharge.html" class="v-money" title="充值提现"><i class="iconfont icon-chongzhihetixian"></i></a>
                    <a href="uct_standard.html" class="v-info border2" title="收费标准"><i class="iconfont icon-shenjia"></i></a>
                    <a href="uct_myinfo.html" class="v-info" title="我的消息"><i class="iconfont icon-xiaoxi"></i><span class="v-new-info-tip"></span></a>
                </div>
                <div class="v-identity">
                    <div class="v-identity-sel">
                        <a href="javascript:;" class="v-identity-default"><span class="v-identity-cap">我是企业</span></a>
                        <ul class="v-identity-list">
                            <li class="active">我是企业</li>
                            <li>我是专家</li>
                        </ul>
                        <div class="v-ucenter-nav">
                            <div class="v-ucenter-nav-list v-default">
                                <a href="new_work_manage.html" class="v-ucenter-nav-item active">
                                    <img src="img/vicon01.png" alt="办事管理" />
                                    办事管理
                                </a>
                                <a href="new_video_ask.html" class="v-ucenter-nav-item">
                                    <img src="img/vicon02.png" alt="视频会议" />
                                    视频会议
                                </a>
                                <a href="new_exp_resource.html" class="v-ucenter-nav-item">
                                    <img src="img/vicon03.png" alt="专家资源" />
                                    专家资源
                                </a>
                                <a href="new_myneed.html" class="v-ucenter-nav-item">
                                    <img src="img/vicon04.png" alt="需求信息" />
                                    需求信息
                                </a>
                            </div>
                            <div class="v-ucenter-nav-list">
                                <a href="new_mywork.html" class="v-ucenter-nav-item">
                                    <img src="img/vicon02.png" alt="我的办事" />
                                    我的办事
                                </a>
                                <a href="new_myask.html" class="v-ucenter-nav-item">
                                    <img src="img/vicon03.png" alt="我的咨询" />
                                    我的咨询
                                </a>
                                <a href="new_myneed.html" class="v-ucenter-nav-item">
                                    <img src="img/vicon04.png" alt="需求信息" />
                                    需求信息
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 侧边栏公共部分/end -->
            <div class="vmain">
                <!-- 企业办事服务 / start -->
                <div class="ucenter-con">
                    <div class="main-right v-step-box">
                        <div class="card-step works-step">
                            <span class="green-circle">1</span>办事申请<span class="card-step-cap">&gt;</span>
                            <span class="green-circle">2</span>办事审核<span class="card-step-cap">&gt;</span>
                            <span class="green-circle">3</span>邀请专家<span class="card-step-cap">&gt;</span>
                            <span class="green-circle">4</span>专家响应<span class="card-step-cap">&gt;</span>
                            <span class="green-circle">5</span>办事管理<span class="card-step-cap">&gt;</span>
                            <span class="gray-circle">6</span>完成
                        </div>
                        <div class="uct-video-manage">
                            <div class="video-manage-top">
                                <div class="vid-man-top-lt vid-man-top-main">
                                    <div class="vid-man-top-con">
                                        <p class="vid-man-top-cat"><span class="light-color">分类：</span>销售类</p>
                                        <span class="mywork-det-tit"><em class="light-color">金额：</em>￥3000</span>
                                        <span class="light-color">描述：</span>
                                        <div class="vid-man-top-desc">水电费个好久昆明是的风光好进口法国红酒对方过后更好更换即可对方过后法国红酒刚回家法国会尽快法国红酒对方过后风格好久</div>
                                    </div>
                                </div>
                                <div class="vid-man-top-rt vid-man-top-main">
                                    <div class="vid-man-top-con">
                                        <div class="persons-lt">
                                            <div class="emcee">
                                                <span class="light-color emcee-cap">企业：</span>
                                                <span class="emceer-pers" title="企业名字"><img src="img/avatar1.jpg" />企业名字</span>
                                            </div>
                                            <div class="emcee-bottom">
                                                <span class="light-color emcee-cap emcee-bot-cap">专家：</span>
                                                <div class="emcee-members">
                                                    <span class="emceer-pers" title="专家名字"><img src="img/avatar1.jpg" />专家名字</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="camera-comunicate">
                                            <span class="camera"><img src="img/camera.png" /></span>
                                            <a href="javascript:;" class="video-comu">视频沟通</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="works-manage">
                                <div class="works-last works-manage-step">
                                    <h2 class="handle-affair-tit">日程管理</h2>
                                    <a href="javascript:;" class="datum-btn datum-add" style="display:block"><i class="iconfont icon-bianji"></i>新增日程</a>
                                    <ul class="add-works-task">
                                        <li>
                                            <textarea class="works-task-desc" readonly="readonly">正确填写微信支付向你的银行账户中汇入的确认金额的数目，以验证账户正确填写微信支付向你的银行账户中汇入的确认金额的数目，以验证账户</textarea>
                                            <span class="task-state task-ing">进行中</span>
                                            <div class="task-dispose">
                                                <span class="task-icon-finish task-icon" title="完成"></span>
                                                <span class="task-icon-delete task-icon" title="删除"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <textarea class="works-task-desc" readonly="readonly">正确填写微信支付向你的银行账户中汇入的确认金额的数目，以验证账户正确填写微信支付向你的银行账户中汇入的确认金额的数目，以验证账户</textarea>
                                            <span class="task-state task-finished">已完成</span>
                                            <div class="task-dispose">
                                                <span class="task-icon-finish task-icon" title="完成"></span>
                                                <span class="task-icon-delete task-icon" title="删除"></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="v-manage-link-rate">
                                        <span class="vprogress vprog1 vping" title="企业提交基本资料"></span>
                                        <span class="vprogress vprog2 vping" title="专家提交资料目录"></span>
                                        <span class="vprogress vprog3 vping" title="企业提交办事资料"></span>
                                        <span class="vprogress vprog4 vping" title="专家提交办事初步方案"></span>
                                        <span class="vprogress vprog5 vping" title="企业提交合作框架"></span>
                                        <span class="vprogress vprog6 vping" title="专家提交办事实施方案"></span>
                                        <span class="vprogress vprog7" title="日程管理"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="works-f-s">
                            <button class="stop red-finish" type="button">完成</button>
                            <button class="stop" type="button">终止合作</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 企业办事服务 / end -->
    <!-- 修改意见/start -->
    <div class="cover">
        <div class="cover-pop">
            <textarea name="" id="" cols="30" rows="10" class="opinion-txt"></textarea>
            <button type="button" class="test-btn cover-confirm">确定</button>
            <button type="button" class="test-btn cover-cancel">取消</button>
        </div>
    </div>
    <!-- 修改意见/end -->
    <!-- 公共footer / end -->
    <div class="footer">
        <div class="container clearfix">
            <!-- <div class="row"> -->
                <div class="col-md-6 two-pic">
                    <!-- <div class="container-fluid"> -->
                        <div class="weixin"><span class="two-code"><img src="img/weixin.jpg" /></span>关注升维公众号</div>
                        <div class="app"><span class="two-code"><img src="img/app.jpg"  /></span>下载升维APP</div>
                    <!-- </div> -->
                </div>
                <div class="col-md-6 contacts">
                    <p class="footer-title">联系升维</p>
                    <p class="contact-pub contact-telephone"><i class="iconfont icon-dianhua"></i>Tel：400-898-8557</p>
                    <p class="contact-pub contact-email"><i class="iconfont icon-youxiang"></i>Mail：北京市海淀区中关村大街</p>
                    <p class="contact-pub contact-addr"><i class="iconfont icon-dizhi"></i>Add：北京市海淀区中关村大街15-15号创业公社 · 中关村</p>
                    <p class="copyright">京ICP备 XXXXXXXXX<span></span>copyright &copy; XXXX 2017</p>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- 公共footer / end -->
    <script type="text/javascript">
        $(function(){
            $("#Pagination").pagination("15");
            // 新增任务
            $('.datum-add').click(function() {
                var tag = '<li><textarea class="works-task-desc"></textarea><div class="task-dispose"><span class="task-icon-delete task-icon" title="删除"></span></div><button class="confirm-task-btn" type="button">确定</button></li>'
                $('.add-works-task').append(tag);
            });

            // 鼠标滑过li
            $('.add-works-task').on('mouseover mouseout', 'li', function() {
                $(this).children('.task-dispose').stop().fadeToggle(200);
            });
            // 点击完成
            $('.add-works-task').on('click', '.task-icon-finish', function() {
                var $state = $(this).closest('li').find('.task-state');
                if(!$state.hasClass('task-finished')){
                    layer.confirm('确定该日程已完成吗？', {
                        title:false,
                        btn: ['确认','取消'] //按钮
                    }, function(index){
                        layer.close(index);
                        $state.html('已完成').addClass('task-finished');
                    })
                }
            });
            // 点击删除
            $('.add-works-task').on('click', '.task-icon-delete', function() {
                var $li = $(this).closest('li');
                layer.confirm('确定删除该日程吗？', {
                    title:false,
                    btn: ['确认','取消'] //按钮
                }, function(index){
                    layer.close(index);
                    $li.remove();
                })
            })
            
        })
    </script>
    </body>
</html>